<h1 style="text-align: center">Cadastro de imóvel</h1>

<% if flash.now[:notice] %>
    <div><p style="color: #fa0303"> <%= flash.now[:notice] %></p></div>
<% end %>

<% if @property.errors.any? %>
  <ul>
    <% @property.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @property) do |f| %>
    <div>
        <span> 
            <h3><%= f.label :title, 'Título'%> </h3>
            <%= f.text_field :title%>
        </span>
        <span>
            <h3><%= f.label :property_type_id, 'Tipo' %></h3>
            <%= f.collection_select :property_type_id, PropertyType.all, :id, :title, prompt: 'Escolha um tipo' %>
        </span>
        <span>
            <h3><%= f.label :property_location_id, 'Região' %></h3>
            <%= f.collection_select :property_location_id, PropertyLocation.all, :id, :title, prompt: 'Escolha uma região' %>
        </span>
        <span> 
            <h3><%= f.label :rooms, 'Quartos'%> </h3>
            <%= f.number_field :rooms%>
        </span>
        <span> 
            <h3><%= f.label :bathrooms, 'Banheiros'%> </h3>
            <%= f.number_field :bathrooms%>
        </span>
        <span> 
            <h3><%= f.label :daily_rate, 'Diária'%> </h3>
            <%= f.text_field :daily_rate%>
        </span>
        <span> 
            <h3><%= f.check_box :pets%><%= f.label :pets, 'Aceita Pets'%> </h3>
        </span>
        <span> 
            <h3><%= f.check_box :parking_slot%><%= f.label :parking_slot, 'Vaga de estacionamento'%> </h3>
        </span>
        <span> 
            <h3><%= f.label :description, 'Descrição'%></h3> 
            <%= f.text_field :description, size: "100px" %>
        </span>
    </div>
    <div style="margin-top: 30px"> 
        <%= f.submit 'Enviar' %>
    </div>
<% end %>