<h1> Cadastro de tipo de imóvel </h1>

<%= form_with(model: @property_type) do |f|%>
    <%= f.label :title, 'Nome'%>
    <%= f.text_field :title %>
    <%= f.submit 'Enviar' %>
<% end %>

<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>