<h1 class="view_title"> Cadastro de tipo de imóvel </h1>

<%= form_with(model: @property_type) do |f|%>
    <div>
        <h3><%= f.label :title, 'Nome'%></h3>
    </div>
    <div style="margin-top: 25px; margin-bottom: 25px">
        <%= f.text_field :title %>    
        <%= f.submit 'Enviar' %>
    </div>
<% end %>

<% if @property_type.errors.any? %>
    <%= @property_type.errors.full_messages %>
<% end %>

<%= render "shared/return_home" %>