<h1> Cadastro de região </h1>

<%= form_with(model: @property_location) do |f|%>
    <%= f.label :title, 'Nome'%>
    <%= f.text_field :title %>
    <%= f.submit 'Enviar' %>
<% end %>

<% if @property_location.errors.any? %>
    <%= @property_location.errors.full_messages %>
<% end %>

<div> <%= link_to 'Voltar', root_path %> </div>