<h1 style="text-align: center; margin-top: 50px">Flats</h1>
<h3 style="text-align: center; margin-bottom: 50px">Boas vindas ao sistema de locação de apartamentos</h3>

<nav>
<h3 style="text-align: right; margin-right: 10%"><%= link_to 'Cadastrar imóvel', new_property_path %></h3>
<h3 style="text-align: right; margin-right: 10%"><%= link_to 'Cadastrar tipo', new_property_type_path %></h3>
<h3 style="text-align: right; margin-right: 10%"><%= link_to 'Cadastrar região', new_property_location_path %></h3>
</nav>

<aside><h2>Filtrar por tipo:</h2>
    <nav>
        <% @property_types.each do |tipo| %> 
            <h4 style="margin-top: 25px; margin-bottom: 25px"><%= link_to tipo.title, property_type_path(tipo.id) %><h4>
        <% end %>
    </nav>
</aside>

<aside><h2>Filtrar por região:</h2>
    <nav>
        <% @property_locations.each do |local| %> 
            <h4 style="margin-top: 25px; margin-bottom: 25px"><%= link_to local.title, property_location_path(local.id) %><h4>
        <% end %>
    </nav>
</aside>

<%= render "properties/properties", properties: @properties %>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%#= render "shared/sample.html.erb" %>