<!DOCTYPE html>
<html>
  <head>
    <title>Flats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="top_bar_nav">
      <div id="top_bar_div">
        <span id="top_bar_element"><%= link_to 'Início', root_path %></span>
        <% if property_owner_signed_in? %>
          <span id="top_bar_element"><%= link_to 'Meus imóveis', my_properties_properties_path %></span>
          <span id="top_bar_element"><%= current_property_owner.email%></span>
          <span id="top_bar_element"><%= link_to 'Logout', destroy_property_owner_session_path, method: :delete %></span>
        <% elsif user_signed_in? %>
          <span id="top_bar_element"><%= current_user.email%></span>
          <span id="top_bar_element"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></span>
        <% else %>
          <span id="top_bar_element"><%= link_to 'Entrar como proprietário', new_property_owner_session_path %></span>
          <span id="top_bar_element"><%= link_to 'Entrar como usuário', new_user_session_path %></span>
        <% end %>
      </div>
    </nav>

    <div id="content">
      <div id="login_alerts">
        <p class="login_message"><%= notice %></p>
        <p class="login_message"><%= alert %></p>
      </div>

      <%= yield %>
    </div>

    <div id="footer_div">
      <p id="footer_p"> Copyright: MauroT. Todos os direitos reservados © 2021</p>
    </div>
  </body>
</html>
